@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

p:not(:last-child) {
  margin-bottom: 0.875rem;
}

ol,
ul {
  margin-left: 1rem;
}

ol {
  list-style-type: disc;
}

dt {
  font-weight: 700;
}

h1 {
  font-family: var(--font-sans);
}

.ais-Hits-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.ais-Hits-item {
  background: unset !important;
  box-shadow: unset !important;
}