@font-face {
  font-family: 'PhoneticFont';
  src: url('/fonts/no____.woff2') format('woff2');
}


@tailwind base;
@tailwind components;
@tailwind utilities;




@layer base {
  body {
    @apply bg-neutral-50 text-neutral-950 antialiased;
  }

  html:has(.scroll-container), body:has(.scroll-container), .scroll-container  {
    @apply h-full overflow-hidden;
  }

  ::selection {
    @apply bg-accent-600 rounded-sm text-white;
  }


  a {
    @apply underline decoration-2 decoration-primary-500 underline-offset-4 transition-colors hover:decoration-primary-700;

  }


  .small-caps {
    font-variant: all-small-caps;
  }

  .stable-scrollbar {
    scrollbar-gutter: stable;
  }

  * {
    scrollbar-color:  #8e8580 transparent;
    scrollbar-width: thin;
  }

  input[type='checkbox'], input[type='radio'] {
    accent-color: theme('colors.accent.900');
  }

  input[type='checkbox']:checked:hover, input[type='radio']:checked:hover {
    accent-color: theme('colors.accent.700') !important;
  }

  mark {
    @apply bg-accent-200 border border-accent-900 rounded-sm px-1;
  }

  a[href^="http"]:not(.no-underline):not(.override-external-icon):not([aria-label]):not(a[href^="https://stadnamnportalen"]):not(a[href^="https://purl.org/stadnamn"]):after, .external-link:after {
    content: "";
    @apply self-baseline mt-0.5 ml-[.2em] inline-block h-[1em] w-[1em];
    mask: url('PhArrowSquareOut.svg') no-repeat center;
    mask-size: 0.75em;
    -webkit-mask: url('PhArrowSquareOut.svg') no-repeat center;
    -webkit-mask-size: 0.75em;
    background-color: currentColor;
  }




  .carta-marina::before {
    @apply fixed top-0 left-0 z-[-1] h-[100vh] w-full animate-fade-in;
    content: '';
    @apply bg-[url('/Carta_Marina_compressed.webp')] bg-cover bg-no-repeat bg-[center_40%];
  }

  @screen md {
    .carta-marina::before {
      @apply bg-[center_25%];
    }
  }
  

  .mobile-interface {
    z-index: 3999;
  }


  
  .map-marker:hover > * {
    opacity: 1 !important;
  }

  

}

@layer components {
  .tabs {
    @apply flex gap-1;
  }

  .tabs > button,
  .tabs > a {
    @apply flex items-center justify-center rounded-md;
    @apply border border-transparent;
    @apply aria-pressed:bg-neutral-100 aria-pressed:border-neutral-200;
    @apply aria-[pressed=false]:text-neutral-900 aria-[pressed=false]:hover:bg-neutral-50;
    @apply aria-selected:bg-neutral-100 aria-selected:border-neutral-200 aria-selected:shadow-inner;
    @apply aria-expanded:bg-neutral-100 aria-expanded:border-neutral-200 aria-expanded:shadow-inner;
  }

  .text-tabs > button,
  .text-tabs > a {
    @apply border-none;
    @apply aria-pressed:bg-accent-700 aria-pressed:text-white;
    @apply aria-selected:bg-accent-700 aria-selected:text-white;
    @apply aria-expanded:bg-accent-700 aria-expanded:text-white;
  }

  .inner-slate {
    @apply bg-neutral-50 border border-neutral-200 rounded-md shadow-inner;
  }
  .breadcrumb-link {
    @apply no-underline text-lg text-accent-800 hover:underline !decoration-accent-800;
  }
  .card {
    @apply bg-white shadow-lg shadow-neutral-100 xl:border-2 xl:border-neutral-200 xl:rounded-sm;
  }

  .dataset-info p, .page-info p {
    @apply pb-4;
  }

  h1, .dataset-info h2, .instance-info h2 {
    @apply text-2xl text-neutral-900 font-serif
  }

  .page-info h1 {
    @apply py-2
  }

  .dataset-info h3, .instance-info h3, .page-info h2 {
    @apply text-lg mt-4 text-neutral-900 font-serif py-2;
  }

  .dataset-info h4, .instance-info h4, .page-info h3 {
    @apply text-base mt-4 text-neutral-900 font-semibold py-2;
  }

  .page-info h3 {
    @apply mt-4 text-neutral-900 pt-2;
  }

  .dataset-info ul, .instance-info ul, .page-info ul {
    @apply list-disc pl-4 py-2;
  }

  .dataset-info ol, .instance-info ol, .page-info ol {
    @apply list-decimal pl-4 py-2;
  }

  .dataset-info li, .instance-info li, .page-info li {
    @apply py-1;
  }
  

  .btn {
    @apply inline-flex items-center rounded-md justify-center px-4 py-2 shadow-sm text-sm font-medium text-white 
           bg-neutral-700 hover:bg-neutral-800 focus:outline-none focus:ring-2 ring-neutral-600
           focus:ring-offset-2 focus:ring-offset-white rounded-md aria-[current='page']:ring-accent-700
           transition-all duration-200 ease-in-out disabled:opacity-50 disabled:cursor-not-allowed;
  }

  .btn-primary {
    @apply bg-primary-700 text-white border border-primary-600 hover:bg-primary-800 hover:border-primary-900
           transition-all duration-200 focus:ring-primary-500;
  }

  .btn-outline {
    @apply bg-white text-neutral-950 border border-neutral-200 hover:bg-neutral-50 hover:border-neutral-600
           transition-all duration-200;
  }

  .icon-button {
    @apply p-1 flex gap-1 shadow-none items-center text-neutral-900 hover:text-primary-700 !font-sans;
  }

  .btn-dark-outline {
    @apply bg-transparent text-white border border-neutral-400 hover:border-neutral-300;
  }

  .btn-dark-outline:hover {
    @apply bg-neutral-700;
  }

  .btn-dark-outline:disabled {
    @apply bg-neutral-700 text-neutral-400 border-neutral-600;
  }

  .btn-outline[disabled], .btn-outlinte.disabled {
    @apply text-neutral-500 bg-white border-neutral-300;
  }


  .btn-compact {
    @apply px-3 py-1
  }

  .btn-compact.disabled {
    @apply text-neutral-500 bg-white border-neutral-300;
  }

  header nav a, a.btn {
    @apply no-underline;
  }

  button[disabled] i, .btn.disabled i {
    @apply text-gray-400;
  }


  button[aria-current='page'].snid-button {
    @apply bg-accent-200 ring-1;
  }

  

  button[aria-current='page'].snid-button svg {
    @apply text-accent-800;
  }

  .nav-toolbar button {
    @apply flex h-full items-center px-3 flex-grow justify-center;
  }

  .nav-toolbar button[aria-current='page'] {
    @apply text-accent-800 bg-neutral-100 rounded-md;
  }

  .nav-toolbar button[aria-current='page'] .results-badge {
    @apply bg-accent-800;
  }


  .details-toolbar button {
    @apply flex h-full items-center px-3 flex-grow justify-center;
  }

  .details-toolbar button[aria-current='page'] {
    @apply text-white bg-accent-800 rounded-md;
  }

  .details-toolbar button[aria-current='page'] .results-badge {
    @apply bg-accent-800;
  }


  .count-marker-highlight img {
    @apply absolute bottom-1.5 left-1.5 w-16 h-16;
    translate: -50%;
  }


  .count-marker-highlight {
    @apply !z-[1000]
  }

  .count-marker-highlight span {
    @apply absolute text-base bottom-[1.25rem] left-[0.125rem] text-white;
  }

  .count-marker img {
    @apply absolute bottom-1.5 left-1.5 w-12 h-12;
    translate: -50%;
  }


  .count-marker span {
    @apply absolute bottom-[1.125rem] left-[0.125rem] text-white;
  }


  
  .result-table {
    @apply w-full text-left text-neutral-950 rounded-md bg-neutral-50 border border-neutral-200;
  }
  
  .result-table thead th {
    @apply text-sm bg-neutral-100 px-4 py-3 font-semibold;
  }

  .result-table thead button {
    @apply text-neutral-950 
  }

  .result-table thead tr {
    @apply border-b border-neutral-400;
  }
  
  .result-table tbody tr:not(:last-child) {
    @apply border-b border-neutral-400; 
  }


  .result-table th button, .result-table tbody th a {
    @apply !text-neutral-950 !font-semibold;
  }



 
  .result-table tbody th {
    @apply px-2 lg:px-4 border-r border-neutral-400 py-1 bg-neutral-50 font-normal; 
  }

  
  .result-table tbody tr:nth-child(odd) {
    @apply bg-white;
  }

  .result-table tbody tr:nth-child(even) {
    @apply bg-neutral-50;
  }
  
  


  .result-table tbody tr:has(td a[aria-current="page"]) {
    @apply bg-accent-100;
  }

  .cadastre-header:has(h2 a[aria-current="page"]) {
    @apply bg-accent-100;
  }
  

  
  .result-table td {
    @apply px-2 py-1 lg:px-4 lg:py-2;
  }

  .result-table tbody tr:last-child td:last-child {
    @apply rounded-br-md;
  }

  .result-table tbody tr:last-child th {
    @apply rounded-bl-md;
  }


  .old-search button[aria-current='page'], .old-search a[aria-current='page'] i {
    @apply ring-accent-800 ring-2 rounded-full ring-offset-2;

  }

  button[aria-current='page'].snid-button {
    @apply bg-accent-200 ring-1;
  }

  button[aria-current='page'].snid-button svg {
    @apply text-accent-800;
  }

  .count-marker-highlight img {
    @apply absolute bottom-1.5 left-1.5 w-16 h-16;
    translate: -50%;
  }


  .count-marker-highlight {
    @apply !z-[1000]
  }

  .count-marker-highlight span {
    @apply absolute text-base bottom-[1.25rem] left-[0.125rem] text-white;
  }

  .count-marker img {
    @apply absolute bottom-1.5 left-1.5 w-12 h-12;
    translate: -50%;
  }


  .count-marker span {
    @apply absolute bottom-[1.125rem] left-[0.125rem] text-white;
  }




  .rectangular-external-link {
    @apply font-semibold no-underline bg-neutral-50 border border-neutral-200 text-neutral-950 rounded-md p-2 px-4 external-link
  }

  .rounded-tabs {
    @apply flex items-center px-4 py-1 rounded-full bg-neutral-100 
           aria-selected:bg-accent-800 aria-selected:text-white no-underline
           transition-all duration-200 hover:bg-neutral-200 aria-selected:hover:bg-accent-700;
  }

  strong {
    @apply font-semibold;
  }

}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .animate-fade-in {
    animation: fadeIn 2s ease-in forwards;
  }

}
