@tailwind base;
@tailwind components;
@tailwind utilities;




@layer base {
  body {
    @apply bg-neutral-50
  }

  html:has(.search-view), body:has(.search-view), main.search-view {
    @apply md:h-full md:overflow-hidden;
  }


  a {
    @apply underline decoration-2 decoration-primary-600 underline-offset-4;

  }


  .small-caps {
    font-variant: all-small-caps;
  }


  * {
    scrollbar-color:  #8e8580 transparent;
    scrollbar-width: thin;
  }

  input[type='checkbox'] {
    accent-color: theme('colors.accent.900');
  }

  input[type='checkbox']:checked:hover {
    accent-color: theme('colors.accent.700') !important;
  }



}

@layer components {
  .card {
    @apply bg-white shadow rounded-sm;
  }




  .btn {
    @apply inline-flex items-center rounded-sm justify-center px-4 py-2 shadow-sm text-sm font-medium text-white bg-neutral-700 hover:bg-neutral-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-neutral-600;
  }

  .btn-primary {
    @apply bg-primary-600 text-white hover:bg-primary-700 focus:ring-primary-500;
  }

  .btn-outline {
    @apply bg-transparent text-neutral-900 hover:text-white border border-neutral-700 hover:border-neutral-800;
  }


  .btn-compact {
    @apply px-3 py-1
  }

  header a {
    @apply no-underline;
  }

  


}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
