@tailwind base;
@tailwind components;
@tailwind utilities;




@layer base {
  body {
    @apply bg-neutral-50
  }

  html:has(.scroll-container), body:has(.scroll-container), .scroll-container  {
    @apply xl:h-full xl:overflow-hidden;
  }

  ::selection {
    @apply bg-accent-700 rounded-sm text-white;
  }


  a {
    @apply underline decoration-1 decoration-primary-600 underline-offset-4;

  }


  .small-caps {
    font-variant: all-small-caps;
  }

  .stable-scrollbar {
    scrollbar-gutter: stable;
  }

  * {
    scrollbar-color:  #8e8580 transparent;
    scrollbar-width: thin;
  }

  input[type='checkbox'] {
    accent-color: theme('colors.accent.900');
  }

  input[type='checkbox']:checked:hover {
    accent-color: theme('colors.accent.700') !important;
  }

  mark {
    @apply bg-accent-200 border border-accent-900 rounded-sm px-1;
  }

  a[href^="http"]:not(.no-underline):not(.override-external-icon):not(a[href^="https://stadnamnportalen"]):not(a[href^="https://purl.org/stadnamn"]):after {
    content: "";
    @apply  bg-[url('PhArrowSquareOut.svg')] bg-[length:.75em] bg-left-bottom bg-no-repeat ml-[.2em] inline-block h-[1em] w-[1em];
    
  }
  

}

@layer components {
  .card {
    @apply bg-white shadow-lg shadow-neutral-100 xl:border-2 xl:border-neutral-200 xl:rounded-sm;
  }

  .dataset-info p, .page-info p {
    @apply pb-4;
  }

  h1, .dataset-info h2, .instance-info h2 {
    @apply text-xl sm:text-2xl lg:text-3xl text-neutral-900 md:text-3xl lg:text-4xl font-serif
  }

  .page-info h1 {
    @apply py-2
  }

  .dataset-info h3, .instance-info h3, .page-info h2 {
    @apply text-lg sm:text-xl lg:text-2xl mt-4 text-neutral-900 font-serif py-2;
  }

  .dataset-info h4, .instance-info h4, .page-info h3 {
    @apply text-lg sm:text-base lg:text-lg mt-4 text-neutral-900 font-semibold py-2;
  }

  .page-info h3 {
    @apply text-base sm:text-base lg:text-lg mt-4 text-neutral-900 pt-2;
  }

  .dataset-info ul, .instance-info ul, .page-info ul {
    @apply list-disc pl-4 py-2;
  }

  .dataset-info ol, .instance-info ol, .page-info ol {
    @apply list-decimal pl-4 py-2;
  }

  .dataset-info li, .instance-info li, .page-info li {
    @apply py-1;
  }

  .btn {
    @apply inline-flex items-center rounded-sm justify-center px-4 py-2 shadow-sm text-sm font-medium text-white bg-neutral-700 hover:bg-neutral-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-neutral-600;
  }

  .btn-primary {
    @apply bg-primary-600 text-white hover:bg-primary-700 focus:ring-primary-500;
  }

  .btn-outline {
    @apply bg-transparent text-neutral-900 hover:text-white border border-neutral-700 hover:border-neutral-800;
  }

  .icon-button {
    @apply p-1 flex gap-1 shadow-none items-center text-neutral-900 hover:text-primary-700 !font-sans;
  }


  .btn-compact {
    @apply px-3 py-1
  }

  header a {
    @apply no-underline;
  }

  button[disabled] i {
    @apply text-gray-400;
  }



  button[aria-current='page'] {
    @apply ring-accent-800 ring-1 rounded-full;

  }

  button[aria-current='page'].snid-button {
    @apply bg-accent-200 ring-1;
  }

  button[aria-current='page'].snid-button svg {
    @apply text-accent-800;
  }

  .count-marker-highlight img {
    @apply absolute bottom-1.5 left-1.5 w-16 h-16;
    translate: -50%;
  }


  .count-marker-highlight {
    @apply !z-[1000]
  }

  .count-marker-highlight span {
    @apply absolute text-base bottom-[1.25rem] left-[0.125rem] text-white;
  }

  .count-marker img {
    @apply absolute bottom-1.5 left-1.5 w-12 h-12;
    translate: -50%;
  }


  .count-marker span {
    @apply absolute bottom-[1.125rem] left-[0.125rem] text-white;
  }
  

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
