@layer components {
  .content-grid {
    --gap: clamp(16px, 3vw, 3rem);
    --full: minmax(var(--gap), 1fr);
    --content: min(clamp(40rem, 62cqw, 50rem), 100% - var(--gap) * 2);
    --popout: minmax(0, 2rem);
    --feature: minmax(var(--gap), 28ch);
    display: grid;
    grid-template-columns:
      [full-start] var(--full)
      [feature-start] var(--feature)
      [popout-start] var(--popout)
      [content-start] var(--content) [content-end]
      var(--popout) [popout-end] 
      var(--feature) [feature-end]
      var(--full) [full-end];
    
    @container (width < 72rem) {
      grid-template-columns:
      [full-start] var(--full)
      [feature-start] minmax(0, 1fr)
      [popout-start] var(--popout)
      [content-start] var(--content) [content-end]
      var(--popout) [popout-end] 
      minmax(0, 1fr) [feature-end]
      var(--full) [full-end];
    }

    > * {
      grid-column: content;
    }

    aside {
      display: block;
      grid-column: 6/7;
      font-size: var(--text-sm);

      p {
        line-height: var(--leading-normal) !important;
      }

      @container (width < 72rem) {
        @apply border rounded-md border-neutral-200;
        grid-column: content;
        width: 100%;
        padding: 0.5rem;
        margin-block: 0.5rem !important;
      }
    }

    figure {
      @apply fl-mb-14! fl-mt-10!;
      display: grid;
      grid-template-columns: subgrid;
      
      img, picture, .iiif-image-wrapper, .content {
        display: grid;
        grid-column: feature-start / content-end;
        grid-template-columns: subgrid;
        
        @container (width < 72rem) {
          display: grid;
          grid-template-rows: 1fr;
          grid-column: feature;
        }
      }
      
      figcaption{
        grid-column: popout-end / feature-end;
        overflow-y: auto;
        margin-top: 0 !important;
        font-size: var(--text-sm);
        line-height: var(--leading-snug);
        
        /* @container (width < 72rem) {
          margin-top: 0.5rem !important;
        } */
        @container (width < 72rem) {
          grid-column: feature;
          p { @apply mt-3! mb-0!; }
        }
      }
    }

    .feature {
      grid-column: feature;
      grid-template-columns: subgrid;
    }
    .full {
      grid-column: full;
      grid-template-columns: subgrid;
    }
    .popout {
      grid-column: popout;
      grid-template-columns: subgrid;
    }

    
  }
}
