@theme {
  --color-uib-red-050: oklch(0.9838 0.0118 79.79);
  --color-uib-red-100: oklch(0.9157 0.0456 41.83);
  --color-uib-red-200: oklch(0.8312 0.0942 30.47);
  --color-uib-red-300: oklch(0.7611 0.143 30.54);
  --color-uib-red-400: oklch(0.7164 0.1774 28.33);
  --color-uib-red-500: oklch(0.6245 0.2117 26.09);
  --color-uib-red-600: oklch(0.4714 0.1821 27.16);
  --color-uib-red-700: oklch(0.3751 0.1266 26.27);
  --color-uib-red-800: oklch(0.2127 0.0622 25.49);
  --color-uib-red-900: oklch(0.1643 0.0417 22.81);
  --color-uib-red-950: oklch(0.1192 0.0241 21.34);
  --color-uib-green-050: oklch(0.984 0.015 158.259);
  --color-uib-green-100: oklch(0.957 0.051 160.06);
  --color-uib-green-200: oklch(0.914 0.088 157.653);
  --color-uib-green-300: oklch(0.879 0.125 156.483);
  --color-uib-green-400: oklch(0.755 0.156 160.687);
  --color-uib-green-500: oklch(0.637 0.142 155.67);
  --color-uib-green-600: oklch(0.539 0.12 160.348);
  --color-uib-green-700: oklch(0.452 0.096 163.969);
  --color-uib-green-800: oklch(0.276 0.057 156.656);
  --color-uib-green-900: oklch(0.2 0.038 157.374);
  --color-uib-green-950: oklch(0.133 0.019 172.387);
  --color-uib-blue-050: oklch(0.982 0.01 212.522);
  --color-uib-blue-100: oklch(0.927 0.039 241.042);
  --color-uib-blue-200: oklch(0.882 0.06 246.199);
  --color-uib-blue-300: oklch(0.83 0.086 247.374);
  --color-uib-blue-400: oklch(0.751 0.134 248.907);
  --color-uib-blue-500: oklch(0.673 0.159 241.744);
  --color-uib-blue-600: oklch(0.547 0.144 247.071);
  --color-uib-blue-700: oklch(0.376 0.117 253.288);
  --color-uib-blue-800: oklch(0.257 0.096 258.769);
  --color-uib-blue-900: oklch(0.177 0.059 255.586);
  --color-uib-blue-950: oklch(0.119 0.042 256.948);
  --color-uib-beige: oklch(0.916 0.019 80.115);

  --color-message-fg-dark: oklch(0 0 0);
  --color-message-fg-light: oklch(1 0 0);
  --color-message-bg-success: oklch(0.957 0.051 160.06);
  --color-message-bg-danger: oklch(0.375 0.127 26.271);
  --color-message-bg-warning: oklch(0.916 0.046 41.829);
  --color-message-bg-info: oklch(0.927 0.039 241.042);
  --color-message-bg-dark: oklch(0 0 0);
  --color-message-bg-light: oklch(1 0 0);
  --color-message-border: oklch(0 0 0);
  --preview-color-border-idle: oklch(0.164 0.042 22.811);
  --preview-color-border-active: oklch(0.375 0.127 26.271);
  --tag-color-background: oklch(0.916 0.046 41.829);

  --font-size-body-small-on-mobile: 0.875rem;
  --font-size-body-small-on-desktop: 1rem;
  --font-size-body-on-mobile: 1rem;
  --font-size-body-on-desktop: 1.25rem;
  --font-size-action-on-mobile: 1.125rem;
  --font-size-action-on-desktop: 1.25rem;
  --font-size-lead-on-mobile: 1.25rem;
  --font-size-lead-on-desktop: 1.5rem;
  --font-size-h6-on-mobile: 1rem; /* base */
  --font-size-h6-on-desktop: 1.25rem; /* xl */
  --font-size-h5-on-mobile: 1.125rem; /* lg */
  --font-size-h5-on-desktop: 1.375rem;
  --font-size-h4-on-mobile: 1.25rem; /* xl */
  --font-size-h4-on-desktop: 1.5rem; /* 2xl */
  --font-size-h3-on-mobile: 1.5rem; /* 2xl */
  --font-size-h3-on-desktop: 2rem;
  --font-size-h2-on-mobile: 2rem;
  --font-size-h2-on-desktop: 2.5rem; 
  --font-size-h1-on-mobile: 2.25rem; /* 4xl */
  --font-size-h1-on-desktop: 3rem; /* 5xl */
  --font-size-hero-on-mobile: 2.75rem;
  --font-size-hero-on-desktop: 3.75rem;
  --font-size-blockquote-on-mobile: 1.5rem;
  --font-size-blockquote-on-desktop: 2rem;
  --accordion-border-width-on-desktop: 2px;
  --accordion-border-width-on-mobile: 1.5px;

  --color-button-primary-foreground: var(--button-color-fg-primary);
  --color-button-secondary-foreground: var(--button-color-fg-secondary-idle);
  --color-button-secondary-foreground-active: var(--button-color-fg-secondary-active);
  --color-button-secondary-foreground-active-on-beige: var(--button-color-fg-secondary-active-on-beige);
  --color-button-tertiary-foreground: var(--button-color-fg-tertiary-idle);
  --color-button-primary: var(--button-color-bg-primary-idle);
  --color-button-primary-active: var(--button-color-bg-primary-active);
  --color-button-secondary: var(--button-color-bg-secondary-idle);
  --color-button-secondary-active: var(--button-color-bg-secondary-active);
  --color-button-secondary-active-on-beige: var(--button-color-bg-secondary-active-on-beige);
  --color-button-tertiary: var(--button-color-bg-tertiary-idle);
  --color-button-tertiary-active: var(--button-color-bg-tertiary-active);
  --color-button-tertiary-active-focus: var(--button-color-bg-tertiary-active-focus);
  --color-button-border-primary: var(--button-color-border-primary-idle);
  --color-button-border-primary-active: var(--button-color-border-primary-active);
  --color-button-border-secondary: var(--button-color-border-secondary-idle);
  --color-button-border-secondary-active: var(--button-color-border-secondary-active);
  --color-button-border-tertiary: var(--button-color-border-tertiary-idle);
  --color-button-border-tertiary-active-focus: var(--button-color-border-tertiary-active-focus);
  --color-button-primary-outline: var(--button-outline-primary);
  --color-button-secondary-outline: var(--button-outline-secondary);
  --color-button-tertiary-outline: var(--button-outline-tertiary);

  --color-accordion-border: var(--accordion-border-color-idle);
  --color-accordion-border-active: var(--accordion-border-color-active);
  --color-accordion-summary: var(--accordion-summary-color-bg-idle);
  --color-accordion-summary-active: var(--accordion-summary-color-bg-active);
  --color-accordion-summary-foreground-active: var(--accordion-summary-color-fg-active);

  --color-card-active: var(--card-color-bg-active);
  --color-card-article: transparent;
}

@layer uib {
  .text-hero {
    font-size: clamp(var(--font-size-hero-on-mobile), 4, var(--font-size-hero-on-desktop));
  }
  .text-lead {
    font-size: clamp(var(--font-size-lead-on-mobile), 4vw, var(--font-size-lead-on-desktop));
  }
  .text-body {
    font-size: clamp(var(--font-size-body-on-mobile), 4vw, var(--font-size-body-on-desktop));
  }
  .text-action {
    font-size: clamp(var(--font-size-action-on-mobile), 4vw, var(--font-size-action-on-desktop));
  }
  .text-blockquote {
    font-size: clamp(var(--font-size-blockquote-on-mobile), 4vw, var(--font-size-blockquote-on-desktop));
  }
  .text-h6 {
    font-size: clamp(var(--font-size-h6-on-mobile), 4vw, var(--font-size-h6-on-desktop));
  }
  .text-h5 {
    font-size: clamp(var(--font-size-h5-on-mobile), 4vw, var(--font-size-h5-on-desktop));
  }
  .text-h4 {
    font-size: clamp(var(--font-size-h4-on-mobile), 4vw, var(--font-size-h4-on-desktop));
  }
  .text-h3 {
    font-size: clamp(var(--font-size-h3-on-mobile), 4vw, var(--font-size-h3-on-desktop));
  }
  .text-h2 {
    font-size: clamp(var(--font-size-h2-on-mobile), 4vw, var(--font-size-h2-on-desktop));
  }
  .text-h1 {
    font-size: clamp(var(--font-size-h1-on-mobile), 4vw, var(--font-size-h1-on-desktop));
  }
}

:root.palette-red {

  --radius: 0.5rem;
  --background: var(--color-red-050);
  --foreground: var(--color-red-900);
  --card: var(--card-color-bg-idle);
  --card-foreground: var(--color-red-900);
  --popover: oklch(1 0 0);
  --popover-foreground: var(--color-red-900);  
  --primary: var(--color-red-600);
  --primary-foreground: var(--color-red-050);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: var(--color-red-900);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: #ec3d3c;
  --border: var(--color-neutral-200);
  --input: oklch(0.922 0 0);
  --ring: var(--color-red-700);
  --chart-1: var(--color-red-900);
  --chart-2: var(--color-red-800);
  --chart-3: var(--color-red-700);
  --chart-4: var(--color-red-600);
  --chart-5: var(--color-red-500);
  --sidebar: var(--color-red-050);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --color-bg-beige: #eae2d5;
  --color-action-idle: var(--color-red-600);
  --color-action-active: var(--color-red-700);
  --color-border: var(--color-red-900);
  --color-border-beige: #eae2d5;
  --color-outline: var(--color-red-700);
  --filter-color: invert(6%) sepia(36%) saturate(1132%) hue-rotate(317deg) brightness(93%) contrast(103%);
  --filter-color-light: invert(86%) sepia(27%) saturate(208%) hue-rotate(322deg) brightness(112%) contrast(99%);
  --filter-color-brand: invert(34%) sepia(54%) saturate(6004%) hue-rotate(344deg) brightness(100%) contrast(86%);
  --filter-color-action: invert(18%) sepia(53%) saturate(6031%) hue-rotate(349deg) brightness(67%) contrast(99%);
  --filter-color-dark: invert(6%) sepia(36%) saturate(1132%) hue-rotate(317deg) brightness(93%) contrast(103%);
  --filter-color-black: invert(0%) sepia(100%) saturate(7430%) hue-rotate(13deg) brightness(111%) contrast(114%);
  --filter-color-white: invert(100%) sepia(100%) saturate(0%) hue-rotate(107deg) brightness(102%) contrast(101%);

  --theme-filter-color-1: invert(86%) sepia(27%) saturate(208%) hue-rotate(322deg) brightness(112%) contrast(99%);
  --theme-filter-color-2: invert(34%) sepia(54%) saturate(6004%) hue-rotate(344deg) brightness(100%) contrast(86%);
  --theme-filter-color-3: invert(18%) sepia(53%) saturate(6031%) hue-rotate(349deg) brightness(67%) contrast(99%);
  --theme-filter-color-4: invert(6%) sepia(36%) saturate(1132%) hue-rotate(317deg) brightness(93%) contrast(103%);
  --accordion-border-color-idle: var(--color-red-900);
  --accordion-border-color-active: var(--color-red-700);
  --accordion-summary-color-bg-idle: var(--color-red-100);
  --accordion-summary-color-bg-active: var(--color-red-700);
  --accordion-summary-color-fg-active: var(--color-red-050);
  --accordion-icon-filter-active: invert(100%) sepia(100%) saturate(0%) hue-rotate(107deg) brightness(102%) contrast(101%);
  --button-color-fg-primary: var(--color-red-050);
  --button-color-fg-secondary-idle: var(--color-red-900);
  --button-color-fg-secondary-active: var(--color-red-900);
  --button-color-fg-secondary-active-on-beige: var(--color-red-900);
  --button-color-fg-tertiary-idle: var(--color-red-600);
  --button-color-bg-primary-idle: var(--color-red-600);
  --button-color-bg-primary-active: var(--color-red-700);
  --button-color-bg-secondary-idle: transparent; 
  --button-color-bg-secondary-active: var(--color-red-100);
  --button-color-bg-secondary-active-on-beige: transparent;
  --button-color-bg-tertiary-idle: transparent;
  --button-color-bg-tertiary-active: var(--color-red-100);
  --button-color-bg-tertiary-active-focus: transparent;
  --button-color-border-primary-idle: var(--color-red-600);
  --button-color-border-primary-active: var(--color-red-700);
  --button-color-border-secondary-idle: var(--color-red-600);
  --button-color-border-secondary-active: var(--color-red-700);
  --button-color-border-tertiary-idle: transparent;
  --button-color-border-tertiary-active-focus: var(--color-red-600);
  --button-outline-primary: var(--color-red-700);
  --button-outline-secondary: var(--color-red-700);
  --button-outline-tertiary: var(--color-red-600);
  --button-icon-light: invert(86%) sepia(27%) saturate(208%) hue-rotate(322deg) brightness(112%) contrast(99%);
  --button-icon-action: invert(18%) sepia(53%) saturate(6031%) hue-rotate(349deg) brightness(67%) contrast(99%);
  --card-color-bg-idle: var(--color-red-100);
  --card-color-bg-active: var(--color-red-200);
  --card-color-bg-article: transparent;
  --card-color-outline: var(--color-red-200);
  --card-color-outline-article: var(--color-red-600);
  --input-radio-color-fg-idle: var(--color-red-900);
  --input-radio-color-fg-checked: var(--color-red-700);
  --input-radio-color-fg-error: #ec3d3c; /* ONE OFF */
  --input-radio-color-bg-hover: var(--color-red-100);
  --input-color-border-idle: #1d0606;
  --input-color-border-active: var(--color-red-700);
  --input-color-outline: var(--color-red-700);
  --icon-filter: var(--color-red-900);
  --link-list-item-color-fg-idle: var(--color-red-900);
  --link-list-item-color-fg-active-on-beige: var(--color-red-050);
  --link-list-item-color-fg-active-focus-on-beige: var(--color-red-900);
  --link-list-item-color-bg-idle: var(--color-red-100);
  --link-list-item-color-bg-idle-on-beige: var(--color-red-050);
  --link-list-item-color-bg-active: var(--color-red-200);
  --link-list-item-color-bg-active-on-beige: var(--color-red-700);
  --link-list-item-color-bg-active-focus-on-beige: var(--color-red-050);
  --link-list-item-color-border-idle: transparent;
  --link-list-item-color-border-active-on-beige: var(--color-red-700);
  --link-list-item-color-outline-active: var(--color-red-200);
  --link-list-item-color-outline-active-on-beige: var(--color-red-700);
  --link-list-item-icon-light: invert(86%) sepia(27%) saturate(208%) hue-rotate(322deg) brightness(112%) contrast(99%);
  --link-list-simple-item-color-fg-idle: var(--color-red-900);
  --link-list-simple-item-color-fg-active: var(--color-red-050);
  --link-list-simple-item-color-fg-active-focus: var(--color-red-900);
  --link-list-simple-item-color-bg-idle: transparent;
  --link-list-simple-item-color-bg-active: var(--color-red-700);
  --link-list-simple-item-color-bg-active-focus: var(--color-red-100);
  --link-list-simple-item-color-border-idle: var(--color-red-900);
  --link-list-simple-item-color-border-active: var(--color-red-700);
  --link-list-simple-item-color-border-active-focus: transparent;
  --link-list-simple-item-icon-light: invert(86%) sepia(27%) saturate(208%) hue-rotate(322deg) brightness(112%) contrast(99%);
  --link-color-fg-idle: var(--color-red-900);
  --link-color-fg-active: var(--color-red-050);
  --link-color-bg-active: var(--color-red-600);
  --link-color-border-idle: var(--color-red-600);
  --link-color-border-visited: var(--color-red-700);
}

.dark.palette-red {
  --background: var(--color-red-950);
  --foreground: var(--color-red-100);
  --card: var(--card-color-bg-idle);
  --card-foreground: var(--color-red-100);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: var(--color-red-600);
  --primary-foreground: var(--color-red-050);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: var(--color-fg-2);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: #ec3d3c;
  --border: var(--color-neutral-700);
  --input: oklch(0.922 0 0);
  --ring: var(--color-red-700);
  --chart-1: oklch(0.2 0 0);
  --chart-2: oklch(0.4 0 0);
  --chart-3: oklch(0.6 0 0);
  --chart-4: oklch(0.8 0 0);
  --chart-5: oklch(0.3 0 0);
  --sidebar: var(--color-red-050);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --color-action-idle: var(--color-red-100);
  --color-action-active: var(--color-red-300);
  --color-border: var(--color-red-050);
  --color-outline-on-dark-1: var(--color-red-300);
  --color-outline-on-dark-2: var(--color-red-100);
  --filter-color: invert(86%) sepia(27%) saturate(208%) hue-rotate(322deg) brightness(112%) contrast(99%);
  
  --accordion-border-color-idle: var(--color-red-100);
  --accordion-border-color-active: var(--color-red-100);
  --accordion-summary-color-bg-idle: var(--color-red-900);
  --accordion-summary-color-bg-active: var(--color-red-700);
  --accordion-summary-color-fg-active: var(--color-red-050);
  --button-color-fg-primary: var(--color-red-900);
  --button-color-fg-secondary-idle: var(--color-red-050);
  --button-color-fg-secondary-active: var(--color-red-050);
  --button-color-fg-tertiary-idle: var(--color-red-050);
  --button-color-bg-primary-idle: var(--color-red-100);
  --button-color-bg-primary-active: var(--color-red-200);
  --button-color-bg-secondary-active: var(--color-red-700);
  --button-color-bg-tertiary-active: var(--color-red-700);
  --button-color-border-primary-idle: var(--color-red-100);
  --button-color-border-primary-active: var(--color-red-200);
  --button-color-border-secondary-idle: var(--color-red-100);
  --button-color-border-secondary-active: var(--color-red-200);
  --button-color-border-tertiary-active-focus: var(--color-red-050);
  --button-outline-primary: var(--color-red-200);
  --button-outline-secondary: var(--color-red-200);
  --button-outline-tertiary: var(--color-red-050);
  --button-icon-dark: invert(6%) sepia(36%) saturate(1132%) hue-rotate(317deg) brightness(93%) contrast(103%);

  --card-color-bg-idle: var(--color-red-800);
  --card-color-bg-active: var(--color-red-700);
  --card-color-outline: var(--color-red-700);
  --card-color-outline-article: var(--color-red-200);

  --input-color-border-idle: var(--color-red-050);
  --input-color-border-active: var(--color-red-300);
  --input-color-outline: var(--color-red-300);
  --icon-filter: var(--color-red-900);
  --link-list-item-icon-dark: invert(6%) sepia(36%) saturate(1132%) hue-rotate(317deg) brightness(93%) contrast(103%);
  --link-list-simple-item-color-fg-idle: var(--color-red-050);
  --link-list-simple-item-color-fg-active: var(--color-red-900);
  --link-list-simple-item-color-bg-active: var(--color-red-100);
  --link-list-simple-item-color-border-idle: var(--color-red-050);
  --link-list-simple-item-color-border-active: var(--color-red-100);
  --link-list-simple-item-icon-dark: invert(6%) sepia(36%) saturate(1132%) hue-rotate(317deg) brightness(93%) contrast(103%);
  --link-color-fg-idle: var(--color-red-050);
  --link-color-fg-active: var(--color-red-900);
  --link-color-bg-active: var(--color-red-100);
  --link-color-border-idle: var(--color-red-100);
  --link-color-border-visited: var(--color-red-200);
  --message-color-border: #ffffff;
}
