@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

    #__nuxt > div {
        @apply flex-col min-h-screen flex;
    }

    body {
        @apply ease-in-out duration-200 overflow-y-scroll;
    }


    body, html, main {
        @apply !h-full;
    }

    body {
        @apply bg-tertiary;
    }

    main {
        @apply lg:pt-2 flex-1;
    }

    h1 {
        font-family: Inria Serif;
        @apply font-bold;
    }

    .ord-container h3, .wallpaper h3 {
      font-family: Inria Serif;
      font-size: calc(1.3rem + .6vw);
      @apply mb-0 font-semibold text-primary;
  
  }

  .suggestions h3 {
    @apply !text-[1.17rem];
  }

  .callout h3 {
    font-variant: all-small-caps;
    font-family: unset;
    @apply font-semibold tracking-widest !text-2xl;

  }
  



    ::selection {
        @apply text-white bg-secondary;
      }


      
    section a, .secondary-page a, .error-page a, a:hover .hoverlink {
      @apply border-anchor border-solid border-b-2;
    }

    ::marker {
      @apply text-primary font-bold;
      
    }


}

@layer components {

  .secondary-page a[href^="http"]:after, .split-inf-explanation a:after {

    content: "";
    background-size: 1em 1em;
    @apply  bg-[url('assets/icons/BiBoxArrowUpRight.svg')] ml-[.2em] inline-block h-[1em] w-[1em];
    
  }

  blockquote a:after {
    content: none !important;
  }

    .callout {
         @apply bg-tertiary-darken1 my-4 p-4 border-solid border-l-4 border-primary;
      
      }
      
      .callout i {
        /* background-color: theme("colors.primary.DEFAULT"); */
        @apply text-xl pr-2 bg-primary;
      }
      
      .btn {
        @apply  duration-200 rounded-[2rem] px-4 py-1 border;
      }
      
      .btn:not([disabled]):hover {
        @apply bg-canvas-darken;
      }      
      
      .btn[aria-expanded=true] {
        @apply bg-canvas hover:bg-canvas-darken border border-solid border-primary;
        box-shadow: 5px 5px 0px 0px theme('colors.anchor');
        /* box-shadow: 2px 2px 0px theme('colors.gray.500'); */
      }
      
      .btn-borderless {
        @apply border-none;
      }
      
      .rounded-4xl {
        @apply rounded-[2rem]
      }

      .dict-label {
        /* letter-spacing: .1rem; */
        font-variant-caps: all-small-caps;
        @apply !text-2xl font-semibold tracking-widest ml-4 mb-0 !text-gray-700;
      }

      
      .article h4 {
        @apply text-primary text-2xl font-semibold pr-4;
        font-variant: all-small-caps;
      }
      
      .article h5 {
        @apply text-primary font-semibold text-base pt-4;
      }
      
      
      .article li {
        @apply my-1
      }
      
      .article ul {
       @apply !mb-4;
      }
      
       .article ol {
        @apply list-decimal !mb-8;
      }



      .article ol li.definition {
        @apply ml-5
      }

      

      .article ol li.level3.definition {
        @apply list-disc;
      }

      .article ol div {
        @apply pl-2
      }

      .secondary-page {
        @apply bg-white mb-4 p-4 py-8 md:p-12 md:pt-10 mb-8;
        
      }
      
       .secondary-page ul {
          margin-block-start: 1em;
          margin-block-end: 1em;
          @apply list-disc ps-10; 
        }
      
      
        .secondary-page h2, .error-page h1 {
          font-family: Inria Serif;
          @apply text-primary font-bold text-[2rem];
        }
      
        .secondary-page h4 {
          @apply pt-4 text-lg font-semibold text-primary;
        }
      
       .secondary-page p {
          @apply pb-4;
        }
      
      
      
      .secondary-page h3 button, .secondary-page h3, .ord-container h2, .link-header {
          @apply text-primary text-2xl font-semibold;
          font-variant: all-small-caps;
        }

        .ord-container h2, .walllpaper h2 {
          @apply text-2xl md:text-3xl;
        }
      
      .secondary-page h3 button {
        @apply text-2xl;
      }
      
      
      
      
      #advanced-info h2 {
        font-family: Inria Serif;
        @apply text-primary font-bold;
      }
      
      
      
      
      
      .article-view .article, .secondary-page {
          /* border: solid 1px theme('colors.gray.200') !important; */
          /* box-shadow: 2px 2px 0px theme('colors.gray.500') !important; */
          @apply !shadow-xl !border-gray-200;
       }


       .welcome .article {
        @apply !bg-tertiary-darken1 md:!bg-tertiary md:!border-tertiary-darken1 md:!border-2 md:mx-4 md:my-6 !pt-2 !pb-4 !px-3 !shadow-none;
      }
      


      .ord-container, .secondary-page {
        @apply mx-2 md:mx-auto md:container;
      }

      .ord-container {
        @apply px-2 md:px-1;
      }



      .wallpaper {
        @apply md:bg-[url('assets/images/background.webp')] md:mt-5 pb-10 grow bg-cover;
      }





      .result-count-text {
        font-variant: normal;
        @apply bg-white text-black text-xs !leading-none px-1.5 py-0.5 align-middle shadow-md rounded-[2rem];
      
      }
      
      
      ol.article-column {
        @apply m-0 p-0;
      }
      
      ol.article-column  {
          
          @apply bg-white shadow-md w-full p-0;

      }
      
      .article-column {
        @apply !mb-8;
      }
      
      div.article-column {
        @apply flex flex-col gap-4 md:gap-6;
      }


      kbd{
        @apply shadow-md bg-tertiary-darken1 text-base border-4 border-tertiary-darken1 !rounded-[5px];  
      }

      blockquote {
        @apply bg-canvas-darken px-2 pt-1 pb-3 my-2
      }



}