@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

    #__nuxt {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    body {
        overflow-y: scroll;
        @apply ease-in-out duration-200;
    }


    body, html, main {
        height: 100% !important;
    }

    body {
        @apply bg-tertiary;
    }

    main {
        flex: 1;
        @apply lg:pt-2 xl:pt-4 xl:px-1 sm:px-8 xl:px-4 pb-8;
    }

    h1 {
        font-family: Inria Serif;
        font-weight: bold;
    }

    .ord-container h3 {
      font-family: Inria Serif;
      @apply text-primary;
      font-weight:600;
      margin-bottom: 0rem;
  
  }

  .suggestions h3 {
    font-size: 1.17rem !important;
  }



    ::selection {
        background-color: theme(colors.secondary.DEFAULT);
        @apply text-white bg-secondary;
      }

    @-moz-document url-prefix() {
        /* Styles for Firefox only */
        *:focus {
          outline: 3px solid theme("colors.secondary.DEFAULT");
        }
    }

      
    section a, .secondary-page a, .error-page a, a:hover .hoverlink {
      border-bottom: 2px solid;
      @apply border-anchor;
    }

    ::marker {
      font-weight: bold;
      @apply text-primary
      
    }
      

    

}

@layer components {

    .callout {
        border-left: solid 4px theme("colors.primary.DEFAULT");
      
         margin-top: 1rem;
         margin-bottom: 1rem;
         padding: 1rem;
         @apply bg-tertiary-darken1;
      
      }
      
      .callout i {
        background-color: theme("colors.primary.DEFAULT");
        padding-right: 0.5rem;
        font-size: 1.25rem;
      }
      
      .btn {
        border-radius: 2rem;
        padding-right: 1rem;
        padding-left: 1rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        border-width: 1px;

        @apply  duration-200;
      }
      
      .btn:hover {
        background-color: theme(colors.canvas.darken)
      }      
      
      .btn[aria-expanded=true] {
        @apply bg-canvas hover:bg-canvas-darken;
        box-shadow: 5px 5px 0px 0px theme('colors.anchor');
        /* box-shadow: 2px 2px 0px theme('colors.gray.500'); */
        border: 1px solid #560027;
      }
      
      .btn-borderless {
        @apply border-none;
      }
      
      .rounded-4xl {
        border-radius: 2rem;
      }

      .dict-label {
        color: theme("colors.gray.700") !important;
        margin-left: 1rem;
        margin-bottom: 0rem;
        letter-spacing: .1rem;
        font-variant-caps: all-small-caps;
        font-weight: 600;
        font-size: 1.5rem !important;
      }

      
      .article h4 {
        font-size: 1.5rem;
        @apply text-primary;
        font-variant: all-small-caps;
        font-weight: 600;
        padding-right: 1rem;
      
      }
      
      .article h5 {
        @apply text-primary;
        font-weight: 600;
        font-size: 1rem;
        padding-top: 1rem;
      }
      
      
      .article li {
        margin-bottom: 0.25rem;
        margin-top: 0.25rem;
      }
      
      .article ul {
        margin-bottom: 1rem !important;
      }
      
       .article ol {
        margin-bottom: 2rem !important;
        list-style: decimal;
      }



      .article ol li.definition {
        @apply ml-5
      }

      

      .article ol li.level3.definition {
        list-style: disc
      }

      .article ol div {
        @apply pl-2
      }

      .secondary-page {
        @apply bg-white mb-4 p-4 py-8 md:p-12 md:pt-10 mb-8;
        
      }
      
       .secondary-page ul {
          list-style: disc;
          margin-block-start: 1em;
          margin-block-end: 1em;
          padding-inline-start: 40px;
        }
      
      
        .secondary-page h2, .error-page h1 {
          font-family: Inria Serif;
          @apply text-primary;
          font-weight: bold;
          font-size: 2rem;
        }
      
        .secondary-page h4 {
          @apply text-primary;
          font-weight: 600;
          font-size: 1.125rem;
          padding-top: 1rem;
        }
      
       .secondary-page p {
          padding-bottom: 1rem;
        }
      
      .dict-view h3 {
          font-size: calc(1.3rem + .6vw);
        }
      
      
      .secondary-page h3 button, .secondary-page h3, .dict-view h2 {
          @apply text-primary text-2xl;
          font-weight: 600;
          font-variant: all-small-caps;
        }

        .dict-view h2 {
          @apply text-2xl md:text-3xl;
        }
      
      .secondary-page h3 button {
        font-size: 1.5rem;
      }
      
      
      
      
      #advanced-info h2 {
        font-family: Inria Serif;
        font-variant: normal;
        @apply text-primary;
        font-weight: bold;
      }
      
      
      
      
      
      .article-view .article, .secondary-page {
          /* border: solid 1px theme('colors.gray.200') !important; */
          /* box-shadow: 2px 2px 0px theme('colors.gray.500') !important; */
          @apply !shadow-xl !border-gray-200;
       }


       .welcome .article {
        box-shadow: none !important;
        @apply !bg-tertiary-darken1 md:!bg-tertiary md:!border-none md:shadow-none md:mx-4 md:my-6;
      }
      
      .welcome .ord-container {
          @apply md:!px-10 xl:!px-40;
      }
      


      .ord-container, .secondary-page {
        @apply md:mx-auto md:container;
      }

      .ord-container {
        @apply px-2 md:px-1;
      }


      @media screen(md) {
        .welcome.simple-search {
          background-image: url(assets/images/janko-ferlic-sfL_QOnmy00-unsplash.webp);
          @apply flex-col;
        }
      }


      .tooltip:hover .popover, .tooltip:focus-within .popover {
        @apply not-sr-only bg-black text-white py-1 px-4 rounded pointer-events-none transition-opacity duration-300 transform absolute transform -translate-x-1/2 -translate-y-7
      }




      .result-count-text {
        font-variant: normal;
        font-size: .75rem;
        border-radius: 2rem;
        @apply bg-white text-black !leading-none px-1.5 py-0.5 align-middle shadow-md
      
      }
      
      
      ol.article-column {
        margin: 0px;
        padding: 0px;
      }
      
      ol.article-column  {
          
          @apply bg-white shadow-md;
          padding: 0rem;
          width: 100%;
      }
      
      .article-column {
        @apply !mb-8;
      }
      
      div.article-column {
        @apply flex flex-col gap-4 md:gap-6;
      }



}