:root.palette-neutral {
  /* Shadcn variables */
  --background: var(--color-uib-neutral-050);
  --foreground: var(--color-uib-neutral-900);
  --card: var(--card-color-bg-idle);
  --card-foreground: var(--color-uib-neutral-900);
  --popover: oklch(1 0 0);
  --popover-foreground: var(--color-uib-neutral-900);
  --primary: var(--color-uib-neutral-700);
  --primary-foreground: var(--color-uib-neutral-050);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: var(--color-uib-neutral-900);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: var(--color-uib-neutral-100);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: #ec3d3c;
  --border: var(--color-uib-neutral-100);
  --input: oklch(0.922 0 0);
  --ring: var(--color-uib-neutral-700);
  --chart-1: var(--color-uib-neutral-900);
  --chart-2: var(--color-uib-neutral-800);
  --chart-3: var(--color-uib-neutral-700);
  --chart-4: var(--color-uib-neutral-600);
  --chart-5: var(--color-uib-neutral-500);
  --sidebar: var(--color-uib-neutral-050);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: var(--color-uib-neutral-100);
  --sidebar-ring: oklch(0.708 0 0);

  --color-message-fg-dark: oklch(0 0 0);
  --color-message-fg-light: oklch(1 0 0);
  --color-message-bg-success: oklch(0.957 0.051 160.06);
  --color-message-bg-danger: oklch(0.375 0.127 26.271);
  --color-message-bg-warning: oklch(0.916 0.046 41.829);
  --color-message-bg-info: oklch(0.927 0.039 241.042);
  --color-message-bg-dark: oklch(0 0 0);
  --color-message-bg-light: oklch(1 0 0);
  --color-message-border: oklch(0 0 0);
  --preview-color-border-idle: var(--color-uib-neutral-900);
  --preview-color-border-active: var(--color-uib-neutral-700);
  --tag-color-background: var(--color-uib-neutral-200);

  --color-action-idle: var(--color-uib-neutral-700);
  --color-action-active: var(--color-uib-neutral-800);
  --color-border: var(--color-uib-neutral-900);
  --color-border-beige: #eae2d5;
  --color-outline: var(--color-uib-neutral-700);

  --accordion-border-color-idle: var(--color-uib-neutral-900);
  --accordion-border-color-active: var(--color-uib-neutral-700);
  --accordion-summary-color-bg-idle: var(--color-uib-neutral-100);
  --accordion-summary-color-bg-active: var(--color-uib-neutral-900);
  --accordion-summary-color-fg-active: var(--color-uib-neutral-050);

  --button-color-fg-primary: var(--color-uib-neutral-050);
  --button-color-fg-secondary-idle: var(--color-uib-neutral-900);
  --button-color-fg-secondary-active: var(--color-uib-neutral-900);
  --button-color-fg-secondary-active-on-beige: var(--color-uib-neutral-900);
  --button-color-fg-tertiary-idle: var(--color-uib-neutral-700);
  --button-color-bg-primary-idle: var(--color-uib-neutral-700);
  --button-color-bg-primary-active: var(--color-uib-neutral-800);
  --button-color-bg-secondary-idle: transparent;
  --button-color-bg-secondary-active: var(--color-uib-neutral-100);
  --button-color-bg-secondary-active-on-beige: transparent;
  --button-color-bg-tertiary-idle: transparent;
  --button-color-bg-tertiary-active: var(--color-uib-neutral-100);
  --button-color-bg-tertiary-active-focus: transparent;
  --button-color-border-primary-idle: var(--color-uib-neutral-700);
  --button-color-border-primary-active: var(--color-uib-neutral-800);
  --button-color-border-secondary-idle: var(--color-uib-neutral-700);
  --button-color-border-secondary-active: var(--color-uib-neutral-800);
  --button-color-border-tertiary-idle: transparent;
  --button-color-border-tertiary-active-focus: var(--color-uib-neutral-700);
  --button-outline-primary: var(--color-uib-neutral-700);
  --button-outline-secondary: var(--color-uib-neutral-700);
  --button-outline-tertiary: var(--color-uib-neutral-700);

  --card-color-bg-idle: var(--color-uib-neutral-100);
  --card-color-bg-active: var(--color-uib-neutral-200);
  --card-color-bg-article: transparent;
  --card-color-outline: var(--color-uib-neutral-200);
  --card-color-outline-article: var(--color-uib-neutral-700);

  --input-radio-color-fg-idle: var(--color-uib-neutral-900);
  --input-radio-color-fg-checked: var(--color-uib-neutral-700);
  --input-radio-color-fg-error: #ec3d3c;
  --input-radio-color-bg-hover: var(--color-uib-neutral-100);
  --input-color-border-idle: var(--color-uib-neutral-900);
  --input-color-border-active: var(--color-uib-neutral-700);
  --input-color-outline: var(--color-uib-neutral-700);

  --link-list-item-color-fg-idle: var(--color-uib-neutral-900);
  --link-list-item-color-fg-active-on-beige: var(--color-uib-neutral-050);
  --link-list-item-color-fg-active-focus-on-beige: var(--color-uib-neutral-900);
  --link-list-item-color-bg-idle: var(--color-uib-neutral-100);
  --link-list-item-color-bg-idle-on-beige: var(--color-uib-neutral-050);
  --link-list-item-color-bg-active: var(--color-uib-neutral-200);
  --link-list-item-color-bg-active-on-beige: var(--color-uib-neutral-700);
  --link-list-item-color-bg-active-focus-on-beige: var(--color-uib-neutral-050);
  --link-list-item-color-border-idle: transparent;
  --link-list-item-color-border-active-on-beige: var(--color-uib-neutral-700);
  --link-list-item-color-outline-active: var(--color-uib-neutral-200);
  --link-list-item-color-outline-active-on-beige: var(--color-uib-neutral-700);
  --link-list-simple-item-color-fg-idle: var(--color-uib-neutral-900);
  --link-list-simple-item-color-fg-active: var(--color-uib-neutral-050);
  --link-list-simple-item-color-fg-active-focus: var(--color-uib-neutral-900);
  --link-list-simple-item-color-bg-idle: transparent;
  --link-list-simple-item-color-bg-active: var(--color-uib-neutral-700);
  --link-list-simple-item-color-bg-active-focus: var(--color-uib-neutral-100);
  --link-list-simple-item-color-border-idle: var(--color-uib-neutral-900);
  --link-list-simple-item-color-border-active: var(--color-uib-neutral-700);
  --link-list-simple-item-color-border-active-focus: transparent;
  --link-color-fg-idle: var(--color-uib-neutral-900);
  --link-color-fg-active: var(--color-uib-neutral-050);
  --link-color-bg-active: var(--color-uib-neutral-700);
  --link-color-border-idle: var(--color-uib-neutral-700);
  --link-color-border-visited: var(--color-uib-neutral-800);
}

.dark.palette-neutral {
  --background: var(--color-uib-neutral-950);
  --foreground: var(--color-uib-neutral-050);
  --card: var(--card-color-bg-idle);
  --card-foreground: var(--color-uib-neutral-100);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: var(--color-uib-neutral-300);
  --primary-foreground: var(--color-uib-neutral-950);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: var(--color-fg-2);
  --accent: var(--color-uib-neutral-800);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: #ec3d3c;
  --border: var(--color-uib-neutral-700);
  --input: oklch(0.922 0 0);
  --ring: var(--color-uib-neutral-400);
  --chart-1: oklch(0.2 0 0);
  --chart-2: oklch(0.4 0 0);
  --chart-3: oklch(0.6 0 0);
  --chart-4: oklch(0.8 0 0);
  --chart-5: oklch(0.3 0 0);
  --sidebar: var(--color-uib-neutral-800);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: var(--color-uib-neutral-600);
  --sidebar-ring: oklch(0.708 0 0);

  --accordion-border-color-idle: var(--color-uib-neutral-050);
  --accordion-border-color-active: var(--color-uib-neutral-050);
  --accordion-summary-color-bg-idle: transparent;
  --accordion-summary-color-bg-active: var(--color-uib-neutral-800);
  --accordion-summary-color-fg-active: var(--color-uib-neutral-050);

  --button-color-fg-primary: var(--color-uib-neutral-900);
  --button-color-fg-secondary-idle: var(--color-uib-neutral-050);
  --button-color-fg-secondary-active: var(--color-uib-neutral-050);
  --button-color-fg-tertiary-idle: var(--color-uib-neutral-050);
  --button-color-bg-primary-idle: var(--color-uib-neutral-100);
  --button-color-bg-primary-active: var(--color-uib-neutral-200);
  --button-color-bg-secondary-active: var(--color-uib-neutral-700);
  --button-color-bg-tertiary-active: var(--color-uib-neutral-700);
  --button-color-border-primary-idle: var(--color-uib-neutral-100);
  --button-color-border-primary-active: var(--color-uib-neutral-200);
  --button-color-border-secondary-idle: var(--color-uib-neutral-100);
  --button-color-border-secondary-active: var(--color-uib-neutral-200);
  --button-color-border-tertiary-active-focus: var(--color-uib-neutral-050);
  --button-outline-primary: var(--color-uib-neutral-200);
  --button-outline-secondary: var(--color-uib-neutral-200);
  --button-outline-tertiary: var(--color-uib-neutral-050);
  --button-icon-dark: invert(0%);

  --card-color-bg-idle: var(--color-uib-neutral-800);
  --card-color-bg-active: var(--color-uib-neutral-700);
  --card-color-outline: var(--color-uib-neutral-700);
  --card-color-outline-article: var(--color-uib-neutral-200);
}
