:root {
  /* color */
  --color-black: #000000;
  --color-white: #ffffff;
  --color-core-50: var(--color-neutral-50);
  --color-core-100: var(--color-neutral-100);
  --color-core-200: var(--color-neutral-200);
  --color-core-300: var(--color-neutral-300);
  --color-core-400: var(--color-neutral-400);
  --color-core-500: var(--color-neutral-500);
  --color-core-600: var(--color-neutral-600);
  --color-core-700: var(--color-neutral-700);
  --color-core-800: var(--color-neutral-800);
  --color-core-900: var(--color-neutral-900);
  --color-blue-50: #f2fbfd;
  --color-blue-100: #d1ebff;
  --color-blue-200: #b9ddfe;
  --color-blue-300: #9acdfd;
  --color-blue-400: #65b4ff;
  --color-blue-500: #009fee;
  --color-blue-600: #0175bf;
  --color-blue-700: #00417d;
  --color-blue-800: #012050;
  --color-blue-900: #00102a;
  --color-red-50: #fef9f1;
  --color-red-100: #ffdacc;
  --color-red-200: #ffb1a3;
  --color-red-300: #ff8c79;
  --color-red-400: #ff7061;
  --color-red-500: #ec3d3c;
  --color-red-600: #aa1317;
  --color-red-700: #761a19;
  --color-red-800: #300a09;
  --color-red-900: #1d0606;
  --color-green-50: #f2fdf6;
  --color-green-100: #d4fce5;
  --color-green-200: #b1f5cc;
  --color-green-300: #8df0b5;
  --color-green-400: #32cd8e;
  --color-green-500: #28a465;
  --color-green-600: #058356;
  --color-green-700: #006647;
  --color-green-800: #09301c;
  --color-green-900: #051b0f;
  --color-beige-50: #eae2d5;
  --color-lavender-500: #aaadfd;
  --color-orange-500: #faa978;
  --color-pink-500: #ff80ad;
  --color-yellow-300: #fff0a4;
  /* number */
  --grid-3-col: 17.5rem;
  --grid-4-col: 24rem;
  --grid-5-col: 30.5rem;
  --grid-6-col: 37rem;
  --grid-7-col: 43.5rem;
  --grid-8-col: 50rem;
  --grid-9-col: 56.5rem;
  --grid-10-col: 63rem;
  --grid-12-col: 76rem;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-14: 3.5rem;
  --spacing-16: 4rem;
  --spacing-24: 6rem;
  --spacing-32: 8rem;
  --typography-font-size-desktop-body-small: 1rem;
  --typography-font-size-desktop-h6: 1.25rem;
  --typography-font-size-desktop-body: 1.25rem;
  --typography-font-size-desktop-button: 1.25rem;
  --typography-font-size-desktop-h5: 1.375rem;
  --typography-font-size-desktop-h4: 1.5rem;
  --typography-font-size-desktop-lead: 1.5rem;
  --typography-font-size-desktop-h3: 2rem;
  --typography-font-size-desktop-h2: 2.5rem;
  --typography-font-size-desktop-h1: 3rem;
  --typography-font-size-desktop-hero: 3.75rem;
  --typography-font-size-mobile-body-small: 0.875rem;
  --typography-font-size-mobile-h6: 1rem;
  --typography-font-size-mobile-body: 1rem;
  --typography-font-size-mobile-button: 1rem;
  --typography-font-size-mobile-h5: 1.125rem;
  --typography-font-size-mobile-h4: 1.25rem;
  --typography-font-size-mobile-lead: 1.25rem;
  --typography-font-size-mobile-h3: 1.5rem;
  --typography-font-size-mobile-h2: 2rem;
  --typography-font-size-mobile-h1: 2.25rem;
  --typography-font-size-mobile-hero: 2.75rem;
  --typography-line-height-xs: 7.5rem;
  --typography-line-height-s: 7.8125rem;
  --typography-line-height-m: 8.125rem;
  --typography-line-height-l: 8.75rem;
  --typography-line-height-xl: 9.375rem;
  /* string */
  --typography-font-familiy: Myriad Pro;
  /* color */
  --accordion-color: #ffffff;
  --accordion-focus: var(--color-core-100);
  --background-pages: var(--color-core-50);
  --border-color-primary: var(--color-core-900);
  --border-color-cards-border-focus: var(--color-core-200);
  --button-primary-border: var(--color-core-700);
  --button-primary-icon: var(--color-core-50);
  --button-primary-label: var(--color-core-50);
  --button-primary-surface-default: var(--color-core-600);
  --button-primary-surface-focus: var(--color-core-100);
  --button-primary-surface-hover: var(--color-core-700);
  --button-secondaery-border: var(--color-core-600);
  --button-secondaery-border-hover: var(--color-core-700);
  --button-secondaery-icon: var(--color-core-900);
  --button-secondaery-label: var(--color-core-900);
  --button-secondaery-surface-focus: var(--color-core-100);
  --button-secondaery-surface-hover: var(--color-core-100);
  --button-tertiary-border: var(--color-core-600);
  --button-tertiary-icon: var(--color-core-600);
  --button-tertiary-label: var(--color-core-600);
  --button-tertiary-surface-hover: var(--color-core-100);
  --icon-fill: var(--color-core-900);
  --links-icon: var(--color-core-900);
  --links-icon-hover: var(--color-core-50);
  --links-label: var(--color-core-900);
  --links-label-hover: var(--color-core-50);
  --links-surface-hover: var(--color-core-600);
  --links-underline: var(--color-core-600);
  --links-underline-hover: var(--color-core-700);
  --logo-fill: var(--color-black);
  --surface-avatar: var(--color-core-600);
  --surface-error: var(--color-core-700);
  --surface-footer: var(--color-core-900);
  --surface-info: var(--color-blue-100);
  --surface-search-and-filter: var(--color-core-800);
  --surface-success: var(--color-green-100);
  --surface-warning: var(--color-core-100);
  --surface-cards-default: var(--color-core-100);
  --surface-cards-focus: var(--color-core-700);
  --surface-cards-hover: var(--color-core-200);
  --surface-sections-fill: var(--color-beige-50);
  --switch-checked-content-primary: var(--color-core-50);
  --switch-checked-stroke-primary: var(--color-core-700);
  --switch-checked-surface-hover: var(--color-core-600);
  --switch-checked-surface-primary: var(--color-core-700);
  --switch-unchecked-content-primary: #62625f;
  --switch-unchecked-stroke-primary: #62625f;
  --switch-unchecked-surface-hover: var(--color-core-100);
  --switch-unchecked-surface-primary: var(--page);
  --text-text-primary: var(--color-core-900);
  --text-alert-or-banner-error: var(--color-white);
  --text-alert-or-banner-info: var(--color-black);
  --text-alert-or-banner-success: var(--color-black);
  --text-alert-or-banner-warning: var(--color-black);
  /* number */
  --border-radius-small: var(--spacing-1);
  --border-radius-medium: var(--spacing-2);
  --border-radius-large: var(--spacing-4);
}

.dark {
  /* color */
  --accordion-color: #ffffff;
  --accordion-focus: var(--color-core-100);
  --background-pages: var(--color-core-900);
  --border-color-primary: var(--color-core-50);
  --border-color-cards-border-focus: var(--color-core-700);
  --button-primary-border: var(--color-core-200);
  --button-primary-icon: var(--color-core-900);
  --button-primary-label: var(--color-core-900);
  --button-primary-surface-default: var(--color-core-100);
  --button-primary-surface-focus: var(--color-core-700);
  --button-primary-surface-hover: var(--color-core-200);
  --button-secondaery-border: var(--color-core-100);
  --button-secondaery-border-hover: var(--color-core-200);
  --button-secondaery-icon: var(--color-core-50);
  --button-secondaery-label: var(--color-core-50);
  --button-secondaery-surface-focus: var(--color-core-700);
  --button-secondaery-surface-hover: var(--color-core-700);
  --button-tertiary-border: var(--color-core-50);
  --button-tertiary-icon: var(--color-core-50);
  --button-tertiary-label: var(--color-core-50);
  --button-tertiary-surface-hover: var(--color-core-700);
  --icon-fill: var(--color-core-50);
  --links-icon: var(--color-core-50);
  --links-icon-hover: var(--color-core-900);
  --links-label: var(--color-core-50);
  --links-label-hover: var(--color-core-900);
  --links-surface-hover: var(--color-core-100);
  --links-underline: var(--color-core-100);
  --links-underline-hover: var(--color-core-200);
  --logo-fill: var(--color-white);
  --surface-avatar: var(--color-core-600);
  --surface-error: var(--color-core-700);
  --surface-footer: var(--color-core-900);
  --surface-info: var(--color-blue-100);
  --surface-search-and-filter: var(--color-core-800);
  --surface-success: var(--color-green-100);
  --surface-warning: var(--color-core-100);
  --surface-cards-default: var(--color-core-600);
  --surface-cards-focus: var(--color-core-200);
  --surface-cards-hover: var(--color-core-700);
  --surface-sections-fill: var(--color-core-700);
  --switch-checked-content-primary: var(--color-core-700);
  --switch-checked-stroke-primary: var(--color-core-100);
  --switch-checked-surface-hover: var(--color-core-200);
  --switch-checked-surface-primary: var(--color-core-100);
  --switch-unchecked-content-primary: #ffffff;
  --switch-unchecked-stroke-primary: #ffffff;
  --switch-unchecked-surface-hover: #ffffff;
  --switch-unchecked-surface-primary: #ffffff;
  --text-text-primary: var(--color-core-50);
  --text-alert-or-banner-error: var(--color-white);
  --text-alert-or-banner-info: var(--color-black);
  --text-alert-or-banner-success: var(--color-black);
  --text-alert-or-banner-warning: var(--color-black);
}
